# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Packages ouput folder
dist

# delve debugger file
debug

# VS Code settings
.vscode/

# leftovers
src/metrics/sql/