services:
  pgbouncer:
    image: bitnamilegacy/pgbouncer:1.24.1-debian-12-r10
    container_name: pgbouncer
    ports:
      - "6432:5432"
    environment:
      POSTGRESQL_HOST: postgres
      POSTGRESQL_PORT: 5432
      POSTGRESQL_USERNAME: pgwatch
      POSTGRESQL_PASSWORD: pgwatchadmin
      POSTGRESQL_DATABASE: pgwatch
      PGBOUNCER_AUTH_TYPE: trust
      PGBOUNCER_POOL_MODE: session
      PGBOUNCER_PORT: 5432
    depends_on:
      postgres:
        condition: service_healthy