name: Release
on:
  release:
    types: [created]
      
jobs:

  goreleaser:
    if: true # false to skip job during debug
    runs-on: ubuntu-latest
    steps:

    - name: Set up Golang
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Unshallow
      run: git fetch --prune --unshallow

    - name: Release via goreleaser
      uses: goreleaser/goreleaser-action@v4
      with:
        args: release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  docker:
    if: true # false to skip job during debug
    strategy:
      fail-fast: true
      matrix:
        image: [ 
          {file: 'Dockerfile', tag: ''}, 
          {file: 'demo/Dockerfile', tag: '-demo'}
        ]
    runs-on: ubuntu-latest
    steps:

    - name: Check out code
      uses: actions/checkout@v3

    - name: Version strings
      id: version
      run: |
        echo "RELEASE_VERSION=${{ github.ref_name }}#${{ github.sha }}" >> $GITHUB_OUTPUT
        echo "RELEASE_TIME=$(git show -s --format=%cI HEAD)" >> $GITHUB_OUTPUT

    - name: Publish beta version to Registry
      if: ${{ contains(github.ref_name, 'beta') }}
      uses: elgohr/Publish-Docker-Github-Action@v5
      env:
        GIT_HASH: ${{ steps.version.outputs.RELEASE_VERSION }}
        GIT_TIME: ${{ steps.version.outputs.RELEASE_TIME }}     
      with:
        name: pashagolub/pgwatch3
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/${{ matrix.image.file }}
        buildargs: GIT_HASH,GIT_TIME
        tags: ${{ github.ref_name }}${{ matrix.image.tag }}

    - name: Publish "latest" tag to Registry
      if: ${{ !contains(github.ref_name, 'beta') }}
      uses: elgohr/Publish-Docker-Github-Action@v5
      env:
        GIT_HASH: ${{ steps.version.outputs.RELEASE_VERSION }}
        GIT_TIME: ${{ steps.version.outputs.RELEASE_TIME }}     
      with:
        name: pashagolub/pgwatch3
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/${{ matrix.image.file }}
        buildargs: GIT_HASH,GIT_TIME
        tags: latest${{ matrix.image.tag }}

    - name: Publish "X.X.X, X.X, X" tags to Registry
      if: ${{ !contains(github.ref_name, 'beta') && matrix.image.tag == '' }}
      uses: elgohr/Publish-Docker-Github-Action@v5
      env:
        GIT_HASH: ${{ steps.version.outputs.RELEASE_VERSION }}
        GIT_TIME: ${{ steps.version.outputs.RELEASE_TIME }}     
      with:
        name: pashagolub/pgwatch3
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/${{ matrix.image.file }}
        buildargs: GIT_HASH,GIT_TIME
        tag_semver: true        